body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
}

.landing-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    position: relative;
}

.logout-btn {
    position: relative;
    background: none;
    border: none;
    color: #ff0800;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    outline: 3px solid white;
    max-width: 20%;
}

.logout-btn:hover {
    background-color: white;
    color: black;
    outline: 3px solid red;
    box-shadow: 7px 7px 0px red;
    transform: rotate(-4deg) skew(-2deg);
}

.user-nickname {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5vh;
}

.balance {
    font-size: 3.5rem;
    margin-bottom: 40px;
    color: #a7a7a7;
    text-align: center;
}

.transaction-form {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.select-filter,
.input-date,
.select-type,
.input-amount {
    padding: 10px;
    border-radius: 6px;
    background-color: black;
    outline: 2px solid white;
    font-size: 1rem;
    color: white;
}

.input-date.disabled,
.input-date:disabled {
  background-color: #202020;
  color: #999;
  cursor: not-allowed;
  border-color: #ddd;
}

.add-btn {
    padding: 10px 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
}

.add-btn:hover {
    background-color: red;
    color: white;
}

.transaction-list {
    display: grid;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

.transaction-card {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transaction-card.deposit {
    background-color: black;
    outline: 3px solid white;
    color: white;
}

.transaction-card.withdraw {
    background-color: black;
    outline: 3px solid red;
    color: red;
}

.tx-type {
    font-weight: bold;
    text-transform: capitalize;
}

.tx-amount {
    margin: 5px 0;
}

.tx-date {
    font-size: 0.9rem;
    color: #868484;
}

.no-tx {
    text-align: center;
    color: #868484;
}
