@import "tailwindcss";

:root {
    font-family: 'Impact', sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: rgb(0, 0, 0);
  /* background-image: url('assets/image/auth-bg.png');
  background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center; */
}